<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Associated Data Unavailable - Check Back  Later</h2>
        <img src="https://ucarecdn.com/f0da5ce4-acf4-43d7-b4fb-7bf6d5073c55/jameswainscoatNBEAMs2N47kunsplash.jpg" alt="">
    </div>
</body>
<style>

    .container{
        width:100vw;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        display:flex;
        flex-direction: column;
    }
</style>
</html>