<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bat Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
        <div class="container-fluid" style="justify-self:right;">
          <a class="navbar-brand" href="#">Batman</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" id="sites">Sites</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link active" id="bats">Bats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="clust">Clusters</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="enum">Enumerators</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

<div class="container">
    <div class="row">
        <div id="bat-data">

        </div>
    </div>
</div>

<p><%= sites %></p>

    


</body>
<script src="script.js">

</script>
</html>